.products{
    background-color: whitesmoke;
    padding: 1rem;
}

.btn{
    font-size: .7rem;
    height: 2.5rem;
    width: 9rem;
}
.btn:hover{
    background-color:rgb(75, 105, 124);
    color:rgb(219, 210, 210);
    margin-left: 2pt;
}
.img{
    height: 100%;
    width: 102%;
    box-shadow: 0px 5px 10px -5px black;
    cursor: pointer;
}
.img:hover{
    box-shadow: 0px 0px 15px #cccee0;
    transform: scale(1.05);   
}
.card{
    width: 95%;
height: 320px;
}
.tab{
    padding: 0 0 0 25rem;
}
.tabhead{
    border: 1px solid rgb(245, 240, 240);
    margin: 3px;
    border-radius: 2px;
    font-weight: 600;
    font-size: .7rem;
}
.tabhead:hover{
    background-color: #071E57;
    color: white;
    border-radius: 5px;

}

.title{
    color: #071E57;
}

@media screen and (min-width:601px ) and (max-width:997px){
    .tab{
padding: 0 0 0 27%;
    }
}
@media screen and (min-width:471px ) and (max-width:600px){
    .tab{
padding: 0 0% 0 15%;
    }
}
@media screen and (min-width:300px ) and (max-width:470px){
    .tab{
padding: 0 2% 0 2%;
    }
}
