.pillar{
    background: url('../../Images/pro.jpeg') ;
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: sofia-pro,sans-serif;

}
.pillar::before{
position: absolute;
content: "";
top: 0;
left: 0;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.7);
}
.head{
    position: absolute;
    padding-top: 13rem;
    color: white;
}