.footer {
    padding: 3rem 0;
    background-color: #071E57;
    height: auto;
  }
  
  .about {
    line-height: 25px;
    padding: 1rem 0.5rem 0 0;
    text-align: left;
    color: white;
    font-size: 0.9rem;
    font-weight: 100;
  }
  .about:hover{
    color: rgb(29, 147, 211);
  cursor: pointer;
  }
  .footerdetail {
    text-align: left;
    font-weight: 100;
    font-size: 10px;
  }
  
  .helpdetails {
    font-size: 0.9rem;
    font-weight: 100;
    color: white;
    padding: 1rem 0 0 0;
    font-family: sofia-pro,sans-serif;
    text-align: left;

  }
  .helpdetails:hover {
    color: rgb(29, 147, 211);;
    cursor: pointer;
    margin-right: 2px;
  }
  .menudetails {
    font-size: 0.9rem;
    font-weight: 100;
    color: white;
    padding: 1rem 0 0 0;
    font-family: sofia-pro,sans-serif;  
    text-align: left;

  }
  .menudetails:hover {
    color: rgb(29, 147, 211);;
    cursor: pointer;
    margin-right: 2px;
  }
  .icons {
    font-size: 0.9rem;
    padding: 6px;
    margin: 0 5px;
  }
  .icons:hover {
    color: rgb(29, 147, 211);;
    cursor: pointer;
  }
  .ico {
    color: white;
    margin-top: 0.3rem;
  }
  .ico:hover {
    color: rgb(29, 147, 211);
    margin-right: 2px;
    cursor: pointer;
  }
  .adress{
    font-size: 1rem;
    padding: 6px;
    margin: 0 5px;
    line-height: 25px; 
    font-family: sofia-pro,sans-serif;
    cursor: pointer;
  }
  .adress:hover{
    color: rgb(29, 147, 211);

  }
  .boxIcon {
    display: flex;
    flex-direction: row;
    margin-top: 0.7rem;
    color: white;
    padding: 0rem 0 0 0;
  }
  .footerheader {
    font-weight: 100;
    font-size: 1.1rem;
    font-family: sofia-pro,sans-serif;
text-align: left;
  }
  .footerheader:hover {
    cursor: pointer;
    color: rgb(29, 147, 211);;
  }
  .footerrights {
    margin: auto;
    text-align: center;
    padding: 2.3rem 0rem 1rem 0;
    color: white;
    font-size: 1rem;
  }
  .footerrights:hover {
    cursor: pointer;
    color: rgb(29, 147, 211);
  }
  .footerheader {
    color: white;
  }
  
  @media screen and (min-width: 300px) and (max-width: 600px) {
    .helpdetails {
      padding: 0.7rem 0 0 1rem;
    }
    .boxIcon {
      padding: 0rem 0 0 0.8rem;
    }
    .footerheader {
      padding: 2px 0 0 1rem;
      margin: 0.7rem 0 0 0;
    }
  }
   

   