.home{
    background: url('../../Images/bg4.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    position: relative;
}
.home::before{
position: absolute;
content: "";
top: 0;
left: 0;
height: 100%;
width: 100%;
background: rgba(77, 72, 72, 0.7);
/* background: rgba(82, 81, 81, 0.7); */


}
.header{
    color: white;
    padding-top: 15rem;
    position: absolute;
    left: 30%;
}