
.abouthead{
    padding-top: 3rem;
    font-weight: 800;
    font-size: 2.5rem;
    font-family: sofia-pro,sans-serif;
    color: #071E57;
}
.text{
    font-family: sofia-pro,sans-serif;
    letter-spacing: .5px; 
    line-height: 26px;
    color: rgb(146, 143, 143);
}
.text1{
    color: rgb(116, 114, 114);
    line-height: 50px;
    display: flex;
}
.img{
    height: 400px;
    width: 100%;
    padding: 2.5rem .5rem;
    border-radius: 5px;
}
.icon{
    height: 27px;
    width: 27px;
    background-color: #071E57;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 10px;
}